.basket-page {
    padding: 0px;
    margin: 0px;
    padding-bottom: 0%; 
} 



.basket-header {
    margin-bottom: 20px;
}

.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.product-item h3 {
    margin: 0 0 10px 0;
}

.product-item p {
    margin: 5px 0;
}

.product-item button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.product-item button:hover {
    background-color: #0056b3;
}

.clear-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.clear-button:hover {
    background-color: #0056b3;
}

.basket-page .product-item button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.basket-page .product-item button:hover {
    background-color: #45a049;
}

body {
    margin: 0;
    padding: 0;
}

