body{

    margin: 0px;
    padding: 0px;

}
.dashboard-container {
    min-height: 100vh;
    position: relative;
}



.dashboard-container > * {
    box-sizing: border-box;
}

.dashboard-container > Tail {
    position: absolute;
    margin-bottom: 0px
;    width: 100%;
}

.bottom-div {
    background-color: #4CAF50;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
}
